/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ===================
 *   Content Styling
 * ===================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Wrappers
 * 2) Main Content
 * 3) Boxes
 *    a) Header
 *    b) Content
 *    c) Action Bar
 *    d) Tabs
 */

/* ==================================================
 * 1) Wrappers
 * ================================================== */
/* Let the body fill the window */
html, body {
	height: 100%;
	min-height: 100%;
	background-color: #fafafa;
}
body.Controller_Customers{
	background-image:url("../img/grey.png");
}


/* Fill the window but let some space for the footer */
#height-wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto -38px;
	min-height: 100%;
}

#content-wrapper {
	height: 100%;
	position: relative;
	margin-bottom: 38px;
}

/* for the delete and details buttons */
/*.Controller_Customers #content-wrapper{
	z-index:-2;
}
.Controller_Customers #height-wrapper{
	z-index:-2;
	position:relative;
}*/
	
.push {
	height: 38px;
}

.webkit .push {
	height: 60px;
}

.webkit .clear  + .push {
	height: 38px;
}

/* ==================================================
 * 2) Main Content
 * ================================================== */
#main_content {
	padding: 20px;

	overflow: hidden;
}
.Controller_Customers #main_content{
	overflow:visible;
}

.container{height:0;}
#main_content h2 {
	margin-top: 0;
	padding-bottom: 6px;
	margin-bottom: 4px;
	width: 100%;
	background: url(../img/main_content/title-underline.png) repeat-x bottom;
}

/* ==================================================
 * 3) Boxes
 * ================================================== */

.box {
	margin: 15px 0;
	box-shadow: 0 10px -6px -6px #777777;
}

.effect1 {
    box-shadow: 0 10px 6px -6px #777777;
}
.effect2 {
    position: relative;
}
.effect2:before, .effect2:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 15px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
.effect2:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
.effect3 {
    position: relative;
}
.effect3:before {
    background: none repeat scroll 0 0 #777777;
    bottom: 15px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
.effect4 {
    position: relative;
}
.effect4:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 15px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: auto;
    max-width: 300px;
    position: absolute;
    right: 10px;
    top: 80%;
    transform: rotate(3deg);
    width: 50%;
    z-index: -1;
}
.effect5 {
    position: relative;
}
.effect5:before, .effect5:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 25px;
    box-shadow: 0 35px 20px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-8deg);
    width: 50%;
    z-index: -1;
}
.effect5:after {
    left: auto;
    right: 10px;
    transform: rotate(8deg);
}
.effect6 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.effect6:before, .effect6:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: -1;
}
.effect6:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
}
.effect7 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.effect7:before, .effect7:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: -1;
}
.effect7:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
}
.effect8 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.effect8:before, .effect8:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;
}
.effect8:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
}


/* ==================================================
 * 3a) Boxes: Header
 * ================================================== */

.box .header {
	background: rgb(120,177,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(120,177,237,1) 0%, rgba(65,123,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,177,237,1)), color-stop(100%,rgba(65,123,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(120,177,237,1) 0%,rgba(65,123,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(120,177,237,1) 0%,rgba(65,123,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(120,177,237,1) 0%,rgba(65,123,181,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(120,177,237,1) 0%,rgba(65,123,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78b1ed', endColorstr='#417bb5',GradientType=0 ); /* IE6-9 */
	height: 34px;
	line-height: 34px;
	border: 1px solid #2B5177;
	border-radius: 3px 3px 0 0;
	border-bottom: none;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}

.box .header.grey {
	background: url(../img/sprites/boxes/bg-header.png);
	filter: none;
	border-color: #C8C8C8;
}

.box .header.grey h3 {
	color: #383838;
	text-shadow: none;
}

.box.closed .header {
	border-bottom: 1px solid #2B5177;
	border-radius: 3px;
}

.box .header h3 {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 8px;
	padding-left: 10px;
	background: url(../img/sprites/boxes/divider-header.png) top left no-repeat !important;
}

.box .header.no-icon h3 {
	background: none !important;
	margin-left: 0;
}

.box .header img {
	display: inline-block;
	margin: 9px auto;
	margin-left: 8px;
	float: left;
	-moz-user-select: none;
}

.box .header span {
	background: url(../img/icons/packs/fugue/16x16/toggle.png) no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-right: 10px;
    margin-top: 10px;
    width: 16px;
}

.box.closed .header span {
    background: url(../img/icons/packs/fugue/16x16/toggle-expand.png) no-repeat;
}

/* ==================================================
 * 3b) Boxes: Content
 * ================================================== */

.box .content {
	padding: 0 10px;
	border: 1px solid #C8C8C8;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #2B5177;
	background: #fff;
}

.box.closed .content {
	display: none;
}

.box .content.grey {
	border-top-color: #C8C8C8;
}

.box .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box .content.with-actions {
	border-radius: 0;
	border-bottom: 0;
}

.box .content.no-header {
	border-radius: 3px;
	border: 1px solid #C8C8C8;
}

.box .content.no-padding {
	padding: 0;
}

.border-radius-bottom {
	border-radius: 0 0 3px 3px;
}

/* ==================================================
 * 3c) Boxes: Actions Bar
 * ================================================== */

.box .actions {
	border: 1px solid #c8c8c8;
	background: url(../img/sprites/boxes/bg-action.png) repeat-x #f7f7f7;
	border-radius: 0 0 3px 3px;
}

.box .actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box .actions input {
	margin: 0;
}

.box .actions-left {
	float: left;
	margin: 5px;
	margin-left: 10px;
}

.box .actions-right {
	float: right;
	margin: 5px;
	margin-right: 10px;
}

/* ==================================================
 * 3d) Boxes: Tabs
 * ================================================== */
.box .header ul {
	font-size: 12px;
	height: 23px;
	padding: 0;
	margin: 7px 0;
	margin-right: 6px;
    margin-top: 6px;
	float: right;
}

.ie .header ul {
	overflow: hidden;
	border-radius: 5px;
}

.box .header ul li {
	display: inline;
	list-style: none;
}

.box .header ul li a {
	padding: 0 10px;
	margin: 0;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	/* Gradient */
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 80%, #ededed 96%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(80%,#f7f7f7), color-stop(96%,#ededed), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.box .header ul li:first-child a {
	border-radius: 5px 0 0 5px;
	border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}

.box .header ul li:last-child a {
	border-radius: 0 5px 5px 0;
	border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

.box .header ul li.current a {
	background: rgb(46,86,129); /* Old browsers */
	background: rgb(46,86,129); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(46,86,129,1) 0%, rgba(88,130,175,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,86,129,1)), color-stop(100%,rgba(88,130,175,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5681', endColorstr='#5882af',GradientType=0 ); /* IE6-9 */
	 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	/* The inset shadow */
	-webkit-box-shadow: inset 0px 0px 3px 0px #000;
	-moz-box-shadow: inset 0px 0px 3px 0px #000;
	box-shadow: inset 0px 0px 3px 0px #000;
}

.box .header ul li a {
	line-height: 21px;
	display: block;
	float: left;
}

.box .header ul li.current a {
	color: #FFFFFF;
}

abbr{cursor:help;}
select.styled{
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#stats_container div{
	-moz-transition:all 1s ease-in-out 0s;
	-webkit-transition:all 1s ease-in-out 0s;
	-o-transition:all 1s ease-in-out 0s;
	transition:all 1s ease-in-out 0s;
}
.stats-list li a:hover:{background:blue;}
.time{font-weight:bold;}
.time span{
	color:white;
	background:rgba(0,0,0,.8);
	background:-moz-linear-gradient(top, rgba(0,0,0,.8) 50%, rgba(0,0,0,1) 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,.8)), color-stop(50%, rgba(0,0,0,1)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,.8) 50%, rgba(0,0,0,1) 50%);
	background:-o-linear-gradient(top, rgba(0,0,0,.8) 50%, rgba(0,0,0,1) 50%);
	background:linear-gradient(top, rgba(0,0,0,.8) 50%, rgba(0,0,0,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	box-shadow:0 0 1px rgba(255,255,255,.8);
	-webkit-box-shadow:0 0 1px rgba(255,255,255,.8);
	padding:3px 5px;
	border:white;
}
.time span:first-child{border-radius:2px 0 0 2px;box-shadow:inherit, inset 1px solid white;}
.time span:last-child{border-radius:0 2px 2px 0;}

#stats_container .stats-list .down{color:rgba(255,0,0,.6)}
#stats_container .stats-list .down:before{content:"\2193";}

#stats_container .stats-list .up{color:rgba(60,150,60,.6);}
#stats_container .stats-list .up:before{content:"\2191";}

#stats_container .stats-list .equal{color:rgba(255,105,0,.6)}
#stats_container .stats-list .equal:before{content:"\2261 ";}

#stats_container .stats-list span:before{padding:0 10px;}
#stats_container .stats-list span small{font-size:10px;}
#top-link  { 
	display:none; 
	position:fixed; 
	right:15px; 
	bottom:40px;
	font-size:70px;
	text-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
	opacity:.5;
}
#top-link:hover{opacity:1;}
#main_content > header{display:none;}
