.Controller_Customers #grid_processing {
  padding: 30px 0;
  background: #eee;
  font-weight: bold;
  border: #ddd 1px solid;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: auto;
  z-index: 300;
}
.Controller_Customers .table .row_selected td {
  background: #366FAC;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#184B82),color-stop(1,#366FAC));
  background: -ms-linear-gradient(bottom,#184B82,#366FAC);
  background: -moz-linear-gradient(center bottom,#184B82 0%,#366FAC 100%);
  color: white;
  text-shadow: 0 1px black;
}
.Controller_Customers .table tbody tr:hover {
  background: #9FAFD1;
}
.Controller_Customers .table tbody span.delete,
.Controller_Customers .table tbody span.details {
  position: absolute;
  background: #366FAC;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#184B82),color-stop(1,#366FAC));
  background: -ms-linear-gradient(bottom,#184B82,#366FAC);
  background: -moz-linear-gradient(center bottom,#184B82 0%,#366FAC 100%);
  color: white;
  text-shadow: none;
  width: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 5px;
  margin-top: 2px;
  cursor: pointer;
}
.Controller_Customers .table tbody span.delete {
  left: -55px;
  border-radius: 5px 0 0 5px;
}
.Controller_Customers .table tbody span.details {
  right: -55px;
  border-radius: 0 5px 5px 0;
}
.Controller_Customers .table td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  height: 20px;
  text-align: center;
  white-space: nowrap;
}
.Controller_Customers #custom_modal {
  display: block;
  margin: 0 auto;
}
.Controller_Customers #custom_modal .modal_head {
  padding: 0 10px;
  width: 20%;
  display: inline-block;
}
.Controller_Customers #custom_modal .modal_data {
  width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
}
.Controller_Customers #custom_modal div {
  padding: 5px;
  border-bottom: 1px solid #bbb;
}
.Controller_Customers #custom_modal div:nth-child(even) {
  background: #F5F5F5;
}
.Controller_Customers #custom_modal div:nth-child(odd) {
  background: white;
}
.drop-shadow {
  position: relative;
  width: 90%;
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
}
.drop-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.lifted {
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}
.ui-datepicker-week-end a {
  background: rgba(0,0,0,0.2) !important;
}
.modern {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #B8ED01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}
.modern::hover {
  background: #C7FE0A;
}
.modern.embossed-link {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2), inset 0 3px 2px rgba(255,255,255,0.22), inset 0 -3px 2px rgba(0,0,0,0.15), inset 0 20px 10px rgba(255,255,255,0.12), 0 0 4px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.2);
}
.modern.embossed-link:active {
  box-shadow: inset 0 -2px 1px rgba(255,255,255,0.2), inset 0 3px 2px rgba(0,0,0,0.12);
}
.embossed-link {
  box-shadow: inset 0 3px 2px rgba(255,255,255,0.22), inset 0 -3px 2px rgba(0,0,0,0.17), inset 0 20px 10px rgba(255,255,255,0.12), 0 0 4px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.2);
}
.socle {
  position: relative;
  z-index: 2;
}
.socle:after {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.7);
  top: -6px;
  bottom: -6px;
  right: -6px;
  left: -6px;
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0));
}
a[href^='tel'] {
  color: #FF6347;
}
a[href^='tel']:before {
  content: "\260E";
  display: block;
  margin-right: 0.5em;
}
a[href^='mailto'] {
  color: #254467;
}
a[href^='mailto']:before {
  font-family: FontAwesome;
  content: "\f003";
  display: block;
  margin-right: 0.5em;
}
.ui-dialog .ui-dialog-content {
  padding: 0;
}
