/* Table page */
.tables a.table-action-deletelink{color:blue;text-decoration:none;}
.tables tr.row_selected{
	-moz-transform: scale(1.01) scaleY(1.02);
	-webkit-transform: scale(1.01) scaleY(1.02);
	-o-transform: scale(1.01) scaleY(1.02);
	-ms-transform: scale(1.01) scaleY(1.02);
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), inset 0 4px 6px 5px rgba(255,255,255,.5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), inset 0 4px 6px 5px rgba(255,255,255,.5);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), inset 0 4px 6px 5px rgba(255,255,255,.5);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), inset 0 4px 6px 5px rgba(255,255,255,.5);
	-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), inset 0 4px 6px 5px rgba(255,255,255,.5);
}

.table tr{font-size:13px;}
.table tr.odd{background:#F5F5F5;border-top:1px solid #bbb;border-bottom:1px solid #bbb;}
.table td{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px; overflow: hidden;text-overflow: ellipsis;max-width:80px;height:20px;text-align:center;white-space:nowrap;}
.table th{vertical-align:middle;padding:8px 0;}
.table .even tr{background:white}
.table .langFilter{padding:0 10px; cursor:pointer}
.table tr:hover td{background:#9FAFD1}
.table #grid_processing{background:green;color:grey}
.tables .top, .bottom{height:30px;padding: 7px 5px}
.tables .top{border-radius:8px 8px 0 0;}
.tables .bottom{border-radius:0 0 5px 5px;margin-bottom:20px;}
.tables #grid{border:1px solid #ccc;}
.tables #btnAddNewRow{margin-left:.5em;display:inline;}
.tables #wrap{display: block; margin: 0 auto;width: 98%;}
#custom_modal .modal_head{padding:0 10px;width:200px;display:inline-block;}
#custom_modal .modal_data{width:300px;}
#custom_modal{display:block;margin:0 auto;}
#custom_modal div{padding:5px;border-bottom:1px solid #bbb;}
#custom_modal div:nth-child(even){background:#F5F5F5;}
#custom_modal div:nth-child(odd){background:white;}
.tables table{width:100%;}
.tables .dataTables_length select{width:50px;}
.tables .header h3 b{text-transform:uppercase;}
.tables #grid_wrapper{margin-top:10px;}
.tables #grid_processing{padding:8px 0;background:#eee;font-weight:bold;border:#ddd 1px solid;box-shadow:0 0 5px rgba(0,0,0,.5);}

.row_selected td{
	background: rgb(54,111,172)!important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(54,111,172,1) 0%, rgba(24,75,130,1) 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,111,172,1)), color-stop(100%,rgba(24,75,130,1)))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* IE10+ */
	background: linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366fac', endColorstr='#184b82',GradientType=0 )!important; /* IE6-9 */
	color:white;
	text-shadow:none;
}
.modal_data a{color:rgba(0,0,255,.5);}
span.delete, span.details{
	position:absolute;
	background: rgb(54,111,172)!important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(54,111,172,1) 0%, rgba(24,75,130,1) 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,111,172,1)), color-stop(100%,rgba(24,75,130,1)))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* IE10+ */
	background: linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366fac', endColorstr='#184b82',GradientType=0 )!important; /* IE6-9 */
	color:white;	
	text-shadow:none;
	width:55px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px;
	margin-top:2px;
	cursor:pointer;
	z-index:-1;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

	-moz-animation-name:shake;
	-moz-animation-duration: 2s;

	-ms-animation-name:shake;
	-ms-animation-duration: 2s;

	-webkit-animation-name:shake;
	-webkit-animation-duration: 2s;

	animation-name:shake;
	animation-duration: 2s;
}

span.delete{
	left:-55px;
	border-radius: 5px 0 0 5px;
}
span.details{
	right:-55px;
	border-radius: 0 5px 5px 0;
}

@-ms-keyframes shake {
	0%{margin-left:50px;margin-right:50px;}
	10%{margin-left:50px;margin-right:50px;}
	100%{margin-left:0;margin-right:0;}
}
@-moz-keyframes shake {
	0%{margin-left:50px;margin-right:50px;}
	10%{margin-left:50px;margin-right:50px;}
	100%{margin-left:0;margin-right:0;}
}
@-webkit-keyframes shake {
	0%{margin-left:50px;margin-right:50px;}
	10%{margin-left:50px;margin-right:50px;}
	100%{margin-left:0;margin-right:0;}
}
@keyframes shake {
	0%{margin-left:50px;margin-right:50px;}
	10%{margin-left:50px;margin-right:50px;}
	100%{margin-left:0;margin-right:0;}
}

.drop-shadow {
   position:relative;
   width:90%;
}

.drop-shadow:before,
.drop-shadow:after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }

.lifted {
    -moz-border-radius:4px;
     border-radius:4px;
}

.lifted:before,
.lifted:after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}


.ui-datepicker-week-end a{
	background:rgba(0,0,0,0.2)!important;
}
