/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ================
 *   Special Page
 * ================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) General Styling
 * 2) Top Background
 * 3) Content
 * 4) Title
 * 5) Box
 * 6) Error
 */

/* ==================================================
 * 1) General Styling
 * ================================================== */
body{position:relative;}
.special_page {
	background-color: #fafafa;
}

/* ==================================================
 * 2) Top Background
 * ================================================== */

.special_page  .topt {
	height: 359px;
	width: 100%;
	position: absolute;
	/* The blue background gradient */
	background: #608dbe; /* Old browsers */
	background: rgb(54,111,172); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(54,111,172,1) 0%, rgba(24,75,130,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,111,172,1)), color-stop(100%,rgba(24,75,130,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366fac', endColorstr='#184b82',GradientType=0 ); /* IE6-9 */
	/* Other colorfull stuff */
	border-bottom: 1px solid #0d3259;
	box-shadow: 0 2px 5px rgba(17, 16, 13, 0.5);
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}

.special_page  .topt .gradient {
	position: absolute;
	width: 100%;
	top: 360px;
	height: 270px;
	/* The light grey gradient */
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e3e3 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3e3e3 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3e3e3 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(top,  #e3e3e3 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.special_page  .topt .white {
	position: absolute;
	height: 1px;
	width: 787px;
	top:358px;
	margin: 0 auto;
	left: 0px; right: 0px;
	background: url(../img/special-page/white-line.png);
	z-index: 99;
}

.special_page  .topt .shadow {
	z-index: 80;
	background: url(../img/special-page/white-line-shadow.png);
	height: 25px;
	width: 460px;
	position: absolute;
	top: 360px;
	margin: 0 auto;
	left: 0px; right: 0px;
	z-index: 99;
	
}

/* ==================================================
 * 3) Content
 * ================================================== */

.special_page  .content .background {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0; right: 0;
	margin: 0 auto;
	width: 790px;
	height: 167px;
	background: url(../img/special-page/header.png);
	
}

/* ==================================================
 * 4) Title
 * ================================================== */

.special_page h1 {
	position: absolute;
	top: 60px;
	left: 0; right: 0;
	margin: 0;
	z-index: 101;
}

.special_page h1 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 5px rgba(10, 50, 92, 0.75);
}

.special_page footer{display:none;}
/* ==================================================
 * 5) Box
 * ================================================== */

.special_page .wrapper {
	position: absolute;
	width: 400px;
	top: 250px;
	left: 0; right: 0;
	margin: 0 auto;
	z-index: 101;
}

.special_page .box {
	z-index: 110;
	margin: 5px auto;
	position: relative;
	top:0;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}

.special_page .wrapper .shadow {
	width: 372px;
	height: 18px;
	bottom: -10px;
	margin: 0 auto;
	margin-top: -7px;
	background: url(../img/special-page/box-shadow.png);
	z-index: 99;
	
}

/* ==================================================
 * 6) Error
 * ================================================== */

.error_nr h1 {
	margin-top: 50px;
	color: #FFFFFF;
    font-size: 200px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBBBBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAAAAA, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.error_text {
	position: absolute;
	top: 380px;
	width: 100%;
	text-align: center;
}

.error_text a.button {
	display: inline-block;
}

.special_page .box.beforeLoading{
	top:-50px;
}
.special_page i{
	left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
 
    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    pointer-events: none;
}
.special_page input[type=text],.special_page input[type=password]{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    width: 100%;
    padding: 10px 18px 10px 45px;
 	margin:0;
    border: none; 
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.special_page input[type=text]:hover ~ i,
.special_page input[type=password]:hover ~ i {
    color: #4878AC;
}

.special_page input[type=text]:focus ~ i,
.special_page input[type=password]:focus ~ i {
    color: #1D5189;
}

.special_page input[type=text]:focus,
.special_page input[type=password]:focus{
    outline: none;
}
.enrolled{
	-webkit-transform:perspective(800px) rotateX(-90deg);
	-moz-transform:perspective(800px) rotateX(90deg);
	-ms-transform:perspective(800px) rotateX(90deg);
	-o-transform:perspective(800px) rotateX(90deg);
	transform:perspective(800px) rotateX(90deg);
}


.derolled{
	-webkit-transform-origin:50% 0%;
	-webkit-animation: 2s open ease-in-out;

	-moz-transform-origin:50% 0%;
	-moz-animation: 2s open ease-in-out;

	-ms-transform-origin:50% 0%;
	-ms-animation: 2s open ease-in-out;

	-o-transform-origin:50% 0%;
	-o-animation: 2s open ease-in-out;

	transform-origin:50% 0%;
	animation: 2s open ease-in-out;

}
/*
*	My keyframe cross browser
*
*/
@-webkit-keyframes open{
	0%{
		-webkit-transform:perspective(800px) rotateX(-90deg);
	}
	40%{
		-webkit-transform:perspective(800px) rotateX(30deg);
	}
	70%{
		-webkit-transform:perspective(800px) rotateX(-10deg);
	}
	80%{
		-webkit-transform:perspective(800px) rotateX(5deg);
	}
	100%{
		-webkit-transform:perspective(800px) rotateX(0deg);
	}

}
@-moz-keyframes open{
	0%{
		-moz-transform:perspective(800px) rotateX(-90deg);
	}
	40%{
		-moz-transform:perspective(800px) rotateX(30deg);
	}
	70%{
		-moz-transform:perspective(800px) rotateX(-10deg);
	}
	80%{
		-moz-transform:perspective(800px) rotateX(5deg);
	}
	100%{
		-moz-transform:perspective(800px) rotateX(0deg);
	}

}
@-ms-keyframes open{
	0%{
		-ms-transform:perspective(800px) rotateX(-90deg);
	}
	40%{
		-ms-transform:perspective(800px) rotateX(30deg);
	}
	70%{
		-ms-transform:perspective(800px) rotateX(-10deg);
	}
	80%{
		-ms-transform:perspective(800px) rotateX(5deg);
	}
	100%{
		-ms-transform:perspective(800px) rotateX(0deg);
	}

}
@-o-keyframes open{
	0%{
		-o-transform:perspective(800px) rotateX(-90deg);
	}
	40%{
		-o-transform:perspective(800px) rotateX(30deg);
	}
	70%{
		-o-transform:perspective(800px) rotateX(-10deg);
	}
	80%{
		-o-transform:perspective(800px) rotateX(5deg);
	}
	100%{
		-o-transform:perspective(800px) rotateX(0deg);
	}

}
@keyframes open{
	0%{
		transform:perspective(800px) rotateX(-90deg);
	}
	40%{
		transform:perspective(800px) rotateX(30deg);
	}
	70%{
		transform:perspective(800px) rotateX(-10deg);
	}
	80%{
		transform:perspective(800px) rotateX(5deg);
	}
	100%{
		transform:perspective(800px) rotateX(0deg);
	}

}