/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * =================
 *   Table Styling
 * =================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Pagination Buttons
 * 3) Sort Icons
 */

/* ==================================================
 * 1) Generic
 * ================================================== */




.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
}

.dataTables_wrapper .top {
	padding: 5px 10px;
	padding-top: 0;
	padding-bottom: 0px;
	background: url("../img/sprites/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
	border-bottom: 1px solid #949494;
}

.dataTables_wrapper .block-actions {
	margin-top: 0;
	line-height: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

.dataTables_wrapper .actions {
	border: none;
	border-top: 1px solid #C8C8C8;
}

.dataTables_wrapper {
	position: relative;
	margin: 0 -10px;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_wrapper .actions {
	line-height: 25px;
}

.dataTables_length {
	float: left;
	width:50%;
}

.dataTables_length div.selector {
	width: 70px !important;
}

.dataTables_length div.selector span {
	width: 70px !important;
}

.dataTables_length label {
	/*margin-left: -100px;*/
}

.dataTables_length select {
	width: 100px;
}

.dataTables_filter {
	float: right;
	text-align: right;
	padding-left: 100px;
	width:280px;
}

.dataTables_filter label {
	margin-left: -100px;
}

.dataTables_filter input {
	width: 150px;
}

.dataTables_info {
	float: left;
}

.dataTables_paginate {
	float: right;
}

.paging_full_numbers {
	
}

.dataTables_wrapper label {
	display: block;
	margin-bottom: 0;
	line-height: 33px;
}

.webkit .dataTables_wrapper label {
	display: inline;
}

.dataTables_length .chzn-container {
	display: inline-block;
	float: left;
    margin-left: 10px;
}

.webkit #grid_length {
	padding-left:0px;
}

.webkit .dataTables_length .chzn-drop {
	
}

.dataTables_filter input {
	display: inline-block;
	float: right;
    margin: 5px 0 0 10px;
}

.dataTables_processing {
	background-color: white;
	border: 1px solid #DDDDDD;
	color: #999999;
	font-size: 14px;
	height: 30px;
	left: 50%;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 250px;
}

.table thead {
	background: url("../img/sprites/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
	border-left: none;
}

.table thead th:last-child {
	border-right: none;
}

.table thead th {
	vertical-align: middle;
	text-align: left;
	padding: 8px 13px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
	vertical-align: top;
	text-align: left;
	padding: 7px;
	border-left: 1px dotted #bebebe;
}

.table tbody td {
	background: #f8f8f8;

}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;
}

.table tbody tr.even td, .table tbody tr:nth-child(2n) td {
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #d2d2d2 80%, #e4e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(80%,#d2d2d2), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */

}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #e8eaef;
}

.dataTables_wrapper .tools .tools-left{float:left;}
.dataTables_wrapper .tools .tools-right{float:right;}
.tools{margin:10px 10px 0 10px;}
/* ==================================================
 * 2) Pagination Buttons
 * ================================================== */

.paginate_button, .paginate_active {
	background-color: #ebebeb;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff #b5b5b5 #b5b5b5 #ffffff;
	margin: 0;
	padding: 2px 10px;
	cursor: pointer;
}

.paginate_button_disabled {
	cursor: default;
}

.paginate_active {
	background-color: #2D5580;
	border-color: #123458;
}    

.first {
	border-radius: 3px 0 0 3px;
}

.last {
	border-radius: 0 3px 3px 0;
}






/* ==================================================
 * 3) Sort Icons
 * ================================================== */

.sorting_asc {
	background: url('../img/sprites/tables/arrow-asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../img/sprites/tables/arrow-desc.png') no-repeat center right;
}

.sorting {
	background: url('../img/sprites/tables/arrow-both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: none;
}

.sorting_desc_disabled {
	background: none;
}


	border-left: 1px dotted #bebebe;
}

.table tbody td {
	background: #f3f3f3; /* Old browsers */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #e3e3e3 0%,#d2d2d2 80%,#e4e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.table tbody tr.odd{
	background:white;
}
.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;

}

.table tbody tr.even{
	box-shadow: 1px 0 0 rgba(0, 0, 0, .3),
              2px 0 2px -1px rgba(0, 0, 0, .5),
              1px 0 0 rgba(255, 255, 255, .3) inset,
              -1px 0 0 rgba(0, 0, 0, .3),
              -2px 0 2px -1px rgba(0, 0, 0, .5),
              -1px 0 0 rgba(255, 255, 255, .3) inset
              ;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;

}

.table tfoot input{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 5px;  
    font-size: 12px;  
    text-shadow: 0px -1px 0px #fff;
    outline: none;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0px #efefef;  
    -moz-box-shadow: 1px 1px 0px #efefef;  
    box-shadow:  1px 1px 0px #efefef;
    background: #bcbcbe; /* Old browsers */
	background: -moz-linear-gradient(top, #bcbcbe 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbe), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bcbcbe 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bcbcbe 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bcbcbe 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bcbcbe 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.table tbody tr.odd td{
	background: #f1f1f1;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
              0 5px 5px -3px rgba(0, 0, 0, .2) inset,
              0 -5px 5px -3px rgba(0, 0, 0, .2) inset;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #e8eaef;
}


/* ==================================================
 * 2) Pagination Buttons
 * ================================================== */

.paginate_button, .paginate_active {
	background-color: #ebebeb;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff #b5b5b5 #b5b5b5 #ffffff;
	margin: 0;
	padding: 2px 10px;
	cursor: pointer;
}

.paginate_button_disabled {
	cursor: default;
}

.paginate_active {
	background-color: #2D5580;
	border-color: #123458;
}    

.first {
	border-radius: 3px 0 0 3px;
}

.last {
	border-radius: 0 3px 3px 0;
}






/* ==================================================
 * 3) Sort Icons
 * ================================================== */

.sorting_asc {
	background: url('../img/sprites/tables/arrow-asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../img/sprites/tables/arrow-desc.png') no-repeat center right;
}

.sorting {
	background: url('../img/sprites/tables/arrow-both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: none;
}

.sorting_desc_disabled {
	background: none;
}

